<div class="legal">
    <div class="copyright">
        &copy; 2019 - @DateTime.Now.Year <a href="https://atalayemrah.me/" target="_blank">Emrah Atalay QR Menü</a>.
    </div>
    <div class="version">
        <b>Version: </b> 0.0.2
    </div>
</div>