@model IEnumerable<TreeItem<Category>>

@using Core.Utilities.TreeItem

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle-search js-search hidden-sm hidden-md hidden-lg" data-close="true"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">Orak Cafe</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right"><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MENU</li>
                @{
                    string CategoryRecursive(IEnumerable<TreeItem<Category>> categories)
                    {
                        foreach (var menu in categories)
                        {
                            <li>
                                @if (menu.Children.Any())
                                {
                                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                        <i class="material-icons">menu</i>
                                        <span>@menu.Item.Name</span>
                                    </a>
                                    <ul class="ml-menu" style="display: none;">
                                        @CategoryRecursive(menu.Children)
                                    </ul>
                                }
                                else
                                {
                                    <a href="pages/typography.html">
                                        <i class="material-icons">menu</i>
                                        <span>@menu.Item.Name</span>
                                    </a>
                                }
                            </li>
                        }
                        return "";
                    }

                    CategoryRecursive(Model);
                }
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        @await Component.InvokeAsync("Footer")
        <!-- #Footer -->
    </aside>
</section>

<style>
    .navbar .navbar-toggle-search {
        text-decoration: none;
        color: #fff;
        width: 20px;
        height: 20px;
        margin-top: -4px;
        margin-right: 17px;
    }

        .navbar .navbar-toggle-search:before {
            content: '\e8b6';
            font-family: 'Material Icons';
            font-size: 26px;
        }

    .navbar-toggle-search {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
</style>
