
<div class="footer-whatsapp-fix">
    <a href="https://api.whatsapp.com/send?phone=905541862560&amp;text=Sipari%C5%9F%20vermek%20istiyorum" target="_blank" title="WhatsApp Sipariş">
        <i aria-hidden="true" class="fa fa-whatsapp"></i>
    </a>
</div>

<style type="text/css">
    .footer-whatsapp-fix {
        display: none;
    }

    .footer-whatsapp-fix {
        display: block;
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 25px;
        left: 15px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 40px;
        z-index: 100;
        box-shadow: 0px 3px 7px 0px #00000045;
    }

        .footer-whatsapp-fix a {
            color: #fff;
            display: block;
        }

            .footer-whatsapp-fix a i {
                margin-top: 20%;
            }
</style>