@{
    ViewData["Title"] = "Kategoriler";
}

<div class="block-header">
    <h2>
        Ürün Kategorileri
        <small>
            Açıklama
        </small>
    </h2>
</div>

@(Html.DevExtreme().TreeList<Entities.Models.Category>()
    .ID("CategoryTreeList")
    .DataSource(ds => ds.Mvc()
        .Controller("Categories")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .KeyExpr("Id")
    .ParentIdExpr("ParentCategoryId")
    .AllowColumnReordering(true)
    .AllowColumnResizing(true)
    .ColumnResizingMode(ColumnResizingMode.Widget)
    .ColumnAutoWidth(true)
    .ShowBorders(true)
    .OnContentReady("dataGridLoad")
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
    .RowAlternationEnabled(true)
    .Columns(columns => {

        columns.AddFor(m => m.Image)
        .Caption("Resim")
        .MinWidth(300)
        .AllowFiltering(false)
        .AllowSorting(false)
        .CellTemplate(@<text>
            <div class="aniimated-thumbnials">
                <a href="<%- value %>" data-sub-html="CategoryImages">
                     <img class="img-responsive thumbnail" src="<%- value %>" width="50">
                </a>
            </div>
        </text>);

        columns.AddFor(m => m.Name).Caption("Kategori Adı");

        columns.AddFor(m => m.ParentCategoryId).Caption("Üst Kategori").Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Categories").LoadAction("Get").Key("Id"))
            .ValueExpr("Id")
            .DisplayExpr("Name")
        );

        columns.AddFor(m => m.SortOrder).Caption("Sıralama").MinWidth(60);

        columns.AddFor(m => m.Description).Caption("Açıklama").MinWidth(250);

        columns.AddFor(m => m.IsActive).Caption("Aktif");
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
              .Title("Kategori Detay")
              .ShowTitle(true)
              .Width(700)
              .Height(550)
              .Position(pos => pos
                  .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                  .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                  .Of(new JS("window"))
              )
        ).Form(f => f.Items(items =>
        {
            items.AddGroup().ColCount(2).ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.Name);
                    groupItems.AddSimpleFor(m => m.ParentCategoryId);
                    groupItems.AddSimpleFor(m => m.SortOrder);

                    groupItems.AddSimpleFor(m => m.Image)
                            .Editor(e => e.TextBox().ID("cat-image-input"));

                    groupItems.AddSimpleFor(m => m.Description).Editor(e=> e.TextArea()).ColSpan(2);

                    groupItems.AddSimpleFor(m => m.IsActive);
                });
        }))
    )
)

<partial name="_fileEditor" />

@section Styles{
    <link href="~/Themes/Default/plugins/light-gallery/css/lightgallery.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Themes/Default/plugins/light-gallery/js/lightgallery-all.js"></script>
}

<script>

    function dataGridLoad() {
        $('.aniimated-thumbnials').lightGallery({
            thumbnail: true,
            selector: 'a'
        });
    }

    $(document).on("focus click", "#cat-image-input", function () {
        let element = this;
        selectImage(element);
    })
</script>