<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Themes/Default/img/favicon.png" type="image/png">
    <title>@ViewData["Title"] - Emrah Atalay</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link href="~/Themes/Default/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/Themes/Default/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="~/Themes/Default/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="~/Themes/Default/css/style.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body class="login-page">
    @RenderBody()
    <script src="~/Themes/Default/plugins/jquery/jquery.min.js"></script>
    <script src="~/Themes/Default/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/Themes/Default/plugins/node-waves/waves.js"></script>
    <script src="~/Themes/Default/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/Themes/Default/js/admin.js"></script>
    <script src="~/Themes/Default/js/pages/examples/sign-in.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
