<div class="legal">
    <div class="copyright">
        &copy; 2019 - @DateTime.Now.Year <a href="https://atalayemrah.com/">Emrah Atalay B2B Panel</a>.
    </div>
    <div class="version">
        <b>Version: </b> 0.0.1
    </div>
</div>