<div class="modal fade" id="fileEditorModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Dosya Yöneticisi</h4>
            </div>
            <div class="modal-body">
                @(Html.DevExtreme().FileManager()
                    .ID("file_manager")
                    .CurrentPath("Upload")
                    .FileSystemProvider(provider => provider
                        .Remote()
                        .Url(Url.RouteUrl("FileManagementImagesApi")))
                    .Permissions(permissions => permissions
                        .Create(true)
                        .Copy(true)
                        .Move(true)
                        .Delete(true)
                        .Rename(true)
                        .Upload(true)
                        .Download(true))
                    .OnSelectedFileOpened(@<text>
                        function(e) {
                            var popup = $("#photo-popup").dxPopup("instance");
                            popup.option({
                                "title": e.file.name,
                                "contentTemplate": "<img src=\"" + e.file.dataItem.url + "\" class=\"photo-popup-image\" />"
                            });
                            popup.show();
                        }
                    </text>)
                    .Height(450))
                @(Html.DevExtreme().Popup()
                    .ID("photo-popup")
                    .MaxHeight(600)
                    .OnContentReady(@<text>
                        function(e) {
                            var $contentElement = e.component.content();
                            $contentElement.addClass("photo-popup-content");
                        }
                    </text>)
                    .CloseOnOutsideClick(true))
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>

<script>
    let selectedItem = "";
    let targetElement = null;

    function getFileManager() {
        return $("#file_manager").dxFileManager("instance");
    }

    function GetFileName() {
        var fileManager = getFileManager();
        if (fileManager.getSelectedItems().length > 0)
            return "\\Upload\\" + fileManager.getCurrentDirectory().relativeName + "\\" + fileManager.getSelectedItems()[0].name;
    };

    $('#fileEditorModal').on('hidden.bs.modal', function (e) {
        selectedItem = GetFileName();
        if (selectedItem !== undefined) {
            targetElement.src = selectedItem;
            $("input[name='" + targetElement.getAttribute("target-input") + "']").val(selectedItem);
        }
    })

    function selectImage(imgElement) {
        $('#fileEditorModal').modal('show');
        targetElement = imgElement;
    }
</script>