@(Html.DevExtreme().Popup()
        .ID("file-manager-popup")
        .ShowTitle(true)
        .Title("Dosya Yöneticisi")
        .OnHidden("fileManagerPopupDispose")
        .CloseOnOutsideClick(true)
    )

@using (Html.DevExtreme().NamedTemplate("fileManagerTemplate"))
{
    <div style="height:100%; width:100%;">
        @(Html.DevExtreme().FileManager()
        .ID("file_manager")
        .CurrentPath("Upload")
        .Height("100%")
        .Height("100%")
        .FileSystemProvider(provider => provider
            .Remote()
            .Url(Url.RouteUrl("FileManagementImagesApi")))
        .Permissions(permissions => permissions
            .Create(true)
            .Copy(true)
            .Move(true)
            .Delete(true)
            .Rename(true)
            .Upload(true)
            .Download(true))
        .OnSelectedFileOpened(@<text>
                    function(e) {
                    var popup = $("#photo-popup").dxPopup("instance");
                    popup.option({
                    "width":e.file.width,
                    "height":e.file.height,
                    "title": e.file.name,
                    "contentTemplate": "<img src=\"" + e.file.dataItem.url + "\" class=\"photo-popup-image\" style=\"object-fit: scale-down;\" />"});
                    popup.show();
                    }
        </text>))
        @(Html.DevExtreme().Popup()
                            .ID("photo-popup")
                            .OnContentReady(@<text>
                                    function(e) {
                                    var $contentElement = e.component.content();
                                    $contentElement.addClass("photo-popup-content");
                                    }
                            </text>)
                    .CloseOnOutsideClick(true))
    </div>
}

<style>
    .dx-popup-content {
        padding: 10px !important;
    }
</style>

<script>
    let selectedItem = "";
    let targetElement = null;

    function getFileManager() {
        return $("#file_manager").dxFileManager("instance");
    }

    function GetFileName() {
        var fileManager = getFileManager();
        if (fileManager.getSelectedItems().length > 0)
            return "\\Upload\\" + fileManager.getCurrentDirectory().relativeName + "\\" + fileManager.getSelectedItems()[0].name;
    }

    function fileManagerPopupDispose(e) {
        selectedItem = GetFileName();
        if (selectedItem !== undefined) {
            if (targetElement.tagName === "IMG") {
                targetElement.src = selectedItem;
            }
            $("input[name='" + targetElement.getAttribute("target-input") + "']").val(selectedItem);

            let dxElemet = $("#cat-image-input").dxTextBox("instance");
            if (dxElemet)
                dxElemet.option("value", selectedItem);
        }
    }

    function selectImage(imgElement) {
        var popup = $("#file-manager-popup").dxPopup("instance");
        popup.option("contentTemplate", $("#fileManagerTemplate"))
        popup.show();
        targetElement = imgElement;
    }
</script>